@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

body{
  background-color: #FFD1DC;
  margin-top: 100px;
  padding: 0;
}


.container {
  max-width: 900px;
  background-color: #FFD1DC;
  margin: auto;
  padding: 0;
}

h1 {
  color: #daffe7;
  text-align: center;
  text-shadow: 2px 2px #ccc;
  font-size: 50px;
  text-decoration: underline;
}
 .h1-container {
  background-color: black;
  margin: auto;
  width: 30em;
  border-radius: 1em;
  box-shadow: 3px 3px 4px #abc5fe;
}
.playerX{
  background-color: #daffe7;
  border-radius: .3em;
  border: 1px solid #abc5fe;
  box-shadow: 2px 2px 5px black;
  font-family: 'Rubik', sans-serif;
  padding-right: 40px;
  padding-left: 40px;
  border: 1px solid #abc5fe;
}

.new-playerX{
  box-shadow: 7px 7px 9px black;
  background-color: #abc5fe;
  border-radius: .3em;
  font-family: 'Rubik', sans-serif;
  padding-right: 40px;
  padding-left: 40px;
}

.playerO{
  background-color: #daffe7;
  border-radius: .3em;
  border: 1px solid #abc5fe;
  box-shadow: 2px 2px 5px black;
  font-family: 'Rubik', sans-serif;
  margin-left: 190px;
  padding-right: 40px;
  padding-left: 40px;
}

.new-playerO{
  box-shadow: 7px 7px 9px black;
  background-color: #abc5fe;
  border-radius: .3em;
  border: 1px solid #abc5fe;
  font-family: 'Rubik', sans-serif;
  margin-left: 190px;
  padding-right: 40px;
  padding-left: 40px;
}

.h2-container {
  background-color: pink;
  max-width: 1000px;
  text-align: center;
}

h2 {
  text-align:center;
  display: inline;
  font-family: 'Rubik', sans-serif;
}

button{
  background-color: #B28DFF;
  color: #daffe7;
  border: 3px #daffe7;
  box-shadow: 2px 2px 3px black;
  border-radius: .2em;
  display: block;
  margin-top: 30px;
  height: 22px;
  width: 105px;
  text-shadow: 1px 1px black;
}
.game-button {
  display: inline-block;
  padding: 20px 20px 0px 110px;
}

#start:hover {
  color:#ffc100;
  box-shadow: 7px 7px 9px black;
}

#new-game:hover {
  color:#ffc100;
  box-shadow: 7px 7px 9px black;
}

.block:hover {
  box-shadow: 5px 5px 7px black;
}



.game-area{
  max-width: 800px;
  margin:auto;
  margin-top: 20px;
}
.grid-container{
  margin-left: 0px;
  margin-right: 10px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 330px;
  height: 330px;
  position: center;
  /* background-color: blue; */
  /* background-color: pink; */
  border-radius: .5em;
}

.block{
  width: 90px;
  height: 90px;
  margin: 5px;
  border-radius: .5em;
  background: radial-gradient(#FFD1DC, white);
  border: 3px solid #daffe7;
  box-shadow: 2px 2px 3px black;
}

.new-block{
  background: #daffe7;
  border: 5px solid #abc5fe;
  width: 90px;
  height: 90px;
  margin: 5px;
  border-radius: .5em;
  box-shadow: 2px 2px 3px black;
}

.XImage {
  width:75px;
  height:75px;
  padding-top: 5px;
    padding-left: 5px;
}
.OImage {
  width:75px;
  height:75px;
  padding-top: 5px;
  padding-left: 5px;
}

.score-board{
  text-align: center;
  font-weight: bold;
  display: inline-block;
  width: 210px;
  height: 100px;
  background-color: #B28DFF;
  border-radius: 5em;
  padding-top: 20px;
  box-shadow: 2px 2px 3px black;

}
#score-h2{
  color: #daffe7;
  text-shadow: 2px 2px black;
  font-size: 33px;
  border-bottom: 1px solid #daffe7;
}

#score{
  padding-top: 10px;
  font-family: 'Rubik', sans-serif;
  font-size: 25px;
  padding-bottom: 10px;
}
#letter{
  font-size: 35px;
  padding-left: 10px;
  padding-right: 10px;
  text-shadow: 1px 1px #daffe7;
}

#X{
  color: #FFDAC1;
}
#O{
  color: #FFDAC1;
}

footer{
  margin-top: 20px;
  background-color: pink;
  height: 30px;
  width:900px;
  text-align: center;
}

.draw{
  background:grey;
  
}
